
@import 'variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1024px);
    height: em(576px);
    margin-left: (em(-1024px) / 2);
    margin-top: (em(-576px) / 2);

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics
    background-image: url("../images/background-city.png");
}

//part of ground to animate
.Ground-moving {
	background-image: url("../images/ground-moving.png");
	position: absolute;
	margin-top: em(490px);
	width: em(1080px);
	height: em(23px);
	position: absolute;
	animation: scrolling 0.45s linear infinite running;
}

// don´t need to animate this
.Ground-static {
	position: absolute;
	background-image: url('../images/ground-static.png');
	margin-top: em(513px);
	width: em(1024px);
	height: em(87px);
}

@keyframes scrolling{
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-50px, 0, 0) }
}

.pipe_upper {
	position: absolute;
	visibility: hidden;
	top: 0%;
	background-image: url('../images/pipe-above.png');
	background-position: bottom left;
	width: em(52px);
	animation: scrolling-pipe 10s linear 1 running;
}

.pipe_lower {
	position: absolute;
	visibility: hidden;
	bottom: 0%;
	background-image: url('../images/pipe-below.png');
	width: em(52px);
	animation: scrolling-pipe 10s linear 1 running;
}

@keyframes scrolling-pipe {
	from { transform: translate3d( 1024px, 0, 0); visibility: visible }
	to { transform: translate3d( -52px, 0, 0); visibility: hidden }
}
